.navbar {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    background-color: #03071E;
    align-items: center;
    position: fixed;
    transition: background-color 0.4s ease-in-out;
}

.navbar.scrolled {
    background-color: white;
    color: white;
}

.navbar.scrolled a {
    color: black;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: rgb(184, 6, 6);
}


.navbar a.navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(224, 14, 140);
}


.hero-section {
    background-image: url("images/hs2.jpg");
    background-size: cover;
    height: 800px;
}

.content-section {
    height: 500px;
}