.navbar {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
    background-color: none;
    align-items: center;
    position: fixed;
    transition: background-color 0.4s ease-in-out;
    font-weight: 700;
}

.navbar.scrolled {
    background-color: #e5989b;
    opacity: 0.95;
    color: white;
}

.navbar.scrolled a {
    color: white;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: rgb(184, 6, 6);
}


.navbar a.navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(158, 26, 101);
}


.hero-section {
    background-image: url("images/hs5.jpg");
    background-size: cover;
    height: 800px;
}

.content-section {
    height: 500px;
}